body{
font-family:sans-serif;
color:#E06B80; 
}
header{
text-align: center;    
}
span{
    background-color:#660B05;
color:white;
padding: 3px;
border: 1px solid black;
border-radius: 5px;
margin: 10px 20px;
}