*{
    margin: 0;
    padding: 0%;
}
body{
     font-family:sans-serif;
    color:#E06B80; 
}
header{
     text-align: center;    
}
span{
    background-color:#660B05;
    color:white;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 20px;
}
  
  
  div{
    border: 10px solid green;
    padding: 5px;
    margin: 2%;
    border: #E06B80;

  }
    section{
        display: flex;
        justify-content: center;
    }
    img{
        width: 200px;
    }
    main{
        margin-top: 10px;
    }